.container.border-bottom {
    border-bottom: 1px solid @brown-color;
}

.icon-search:before, .icon-user:before, .icon-shopping-bag:before {
    font-size: 2rem;
    color: @black-blue-color;
    font-weight: 500;
}

.header {
    .set-flex-center();
    justify-content: space-between;
    padding-top: 3.3rem;
    padding-bottom: 3.2rem;

    .icon-hidden {
        display: none;

        .icon-menu {
            font-size: 2.4rem;
            font-weight: 600;
            color: @black-blue-color;
        }
    }

    &-left {
        width: 85%;
        .set-flex-center();
        gap: 0 5.729166667%;

        & .header-logo {
            width: 40%;
            & img {
                width: 100%;
                max-width: 28rem;
            }
        }

        & .menu {
            width: 60%;
        }
    }

    &-right {
        width: 15%;
        display: flex;
        justify-content: end;

        & .menu {
            gap: 0 2rem;
            .set-flex-center;
            &-list {
                gap: 0 2rem;
            }
          
            .auth-language {
                .set-flex-center();
                p {
                    .set-font(@Manrope, 1.5rem, 500, @black-blue-color);
                }

                a .icon-chevron-down::before {
                    font-size: 1.2rem;
                    color: @black-blue-color;
                    font-weight: 600;
                }
            }
        }
    }
}